<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="ajax();update();">
<div id="div1"></div>
<label id="nume">Nume:</label>
<input type="text" id="titlu" name="nume">
<label for="prop">Review:</label>
<input type="text" id="prop" name="prop">
<button onclick="func(); update();">Send</button>
<script src="../static/Js_updatesidelete.js">

</script>
</body>
</html>