<!DOCTYPE html>
<html>
    <head>
        <style></style>
    </head>
    <body>
        <div>
            Adaugati un review.
        </div>
        <form action="http://localhost:3000/reviewuri" method="post">
            Nume<input type="text" name='nume'/><br>
            Review<input type="text" name='review' /><br>
            <input type="submit"/>
        </form>
        <script>

        </script>
    </body>
</html>