<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <img src="../partials/template.ejs" width="500px" height="400px" style="position:absolute;top:1000px;left:100px"/>
    </body>
</html>